body{
    margin: 0;
}
.header{
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}
.menu{
    margin: 0;
    padding: 0;
    text-align: right;background-color: aqua;
    line-height: 40px;
    
}

   
.menu li{
    display: inline;
    margin-right: 10px;
    letter-spacing: 5px;
    font-weight: bold;

    
}

.footer{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.active-menu{
    color: red;
    text-shadow: 2px 2px 2px white;
    
    
}
